/* create question */

.question_input ul {list-style:none}

.question_last {
    margin: 10px;
    border-collapse: separate;
    border-style: solid;
    border-width: 1px;
}

/* Create quiz */
.quiz_input ul {list-style:none}

/* Play quiz */
.col {
    padding: 15px;
    border-collapse: separate;
}

button.multi_choice    {
    background-color: #D73338; /* red */
}

button:disabled.multi_choice   {
    color: black;
}
