{% extends "capstone/layout.html" %}
{% load static %}


{% block body %}
    <h1>Capstone Quiz</h1>

<div class="container">
    <div class="row">
        <div class="col">

            {% if user.is_authenticated %}
            <h2>Create Question</h2>
            <p>To create a new multiple-choice question go to the 'Create Question' page.
            Enter the question and four possible answers. Select the correct answer.</p>
            <br>
            <h2>Create Quiz</h2>
            <p>To create a new quiz, go to the 'Create Quiz' page and select your questions.
            Save with an unique quiz name.</p>
            <br>
            <h2>Play</h2>
            <p>To play a quiz, go to 'Play' and select the quiz name from the drop down box. To play,
            click on your chosen answer. The correct answer is shown with a 'tick'.
            And your score will update. Press 'Next' button to get the next question.</p>
            <br>
            <h2>Results</h2>
            <p> To see recent quiz results, go to the 'Results' page and select the quiz name
            from the drop down box. Results of the last five quiz contestants are
            shown as a barchart.</p>
            <br>
            <h2>Log Out</h2>
            <p>Click on 'Log Out', to exit the quiz.</p>
            <br>
            {% else %}
            <h2>Register or Log In</h2>
            <p>If you're a new user, first you must 'Register'. Otherwise 'Log In' with your username and password.</p>
            <br>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
