{% extends "capstone/layout.html" %}
{% load static %}


{% block body %}
    <h1>Play Quiz</h1>

    <p id="contestant" data-id="{{ contestant_id }}" >{{ contestant }}</p>
    <div class="container">
        <div class="row">
            <div class="col" id="question">{{ question }}</div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2">
            <button class="multi_choice" data-answer="answer0"><div class="col"><span id="answer0">{{ multiple_choice0 }}</span></div></button>
            <button class="multi_choice" data-answer="answer1"><div class="col"><span id="answer1">{{ multiple_choice1 }}</span></div></button>
            <button class="multi_choice" data-answer="answer2"><div class="col"><span id="answer2">{{ multiple_choice2 }}</span></div></button>
            <button class="multi_choice" data-answer="answer3"><div class="col"><span id="answer3">{{ multiple_choice3 }}</span></div></button>
        </div>
        <div id="correct_answer" data-answer="{{ correct_answer }}"></div>
        <div id="number_questions" data-number_questions="{{ number_questions }}"></div>
    </div>


    {% block script %}
        <script src="{% static 'capstone/play_quiz.js' %}"></script>
    {% endblock %}

{% endblock %}
