{% extends "capstone/layout.html" %}
{% load static %}


{% block body %}
    <h1>Play Quiz</h1>

    <p>{{ contestant }}</p>
    <div class="container">
        <div class="row">
            <div class="col">{{ question }}</div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2">
            <button data-answer="answer0"><div class="col">{{ multiple_choice0 }}</div></button>
            <button data-answer="answer1"><div class="col">{{ multiple_choice1 }}</div></button>
            <button data-answer="answer2"><div class="col">{{ multiple_choice2 }}</div></button>
            <button data-answer="answer3"><div class="col">{{ multiple_choice3 }}</div></button>
        </div>
    </div>

    <p>{{ correct_answer }}</p>

    {% block script %}
        <script src="{% static 'capstone/play_quiz.js' %}"></script>
    {% endblock %}

{% endblock %}
